{% extends 'base.html' %}

{% block content %}
<div class="page-container">
  <h2>Reservar</h2>
  <section>
  <div class="text-container">
    <span>Reservar lets you schedule a time to make restaurant reservations far in advance and
      book hard to get spots as soon as they are available!</span>
  </div>
  </section>
  <section>
  <div class="text-container">
    <span>Reservar lets you schedule a time to make restaurant reservations far in advance and
      book hard to get spots as soon as they are available!</span>
  </div>
  </section>
  <section>
  <div class="text-container">
    <span>Reservar lets you schedule a time to make restaurant reservations far in advance and
      book hard to get spots as soon as they are available!</span>
  </div>
  </section>
</div>
{% endblock %}
