{% extends 'base.html' %}

{% block content %}
<div class="page-container">
  <h2>Reservar</h2>
  <section>
  <div class="text-container">
    <p>Resrvar lets you check restaurant reservation availability on a set schedule and automatically book a reservation. You can have Resrvar look for a specific date, certain days of the week, or anytime.</p>
  </div>
  <div class="text-container">
    <p>Scheduling can be set to run hourly, daily, or at a specific point in time</p>
  </div>
  <div class="text-container">
    <p>Add your favorite restaurants, set your desired booking preferences, and have as many open reservation requests as you want!</p>
  </div>

  </section>
</div>
{% endblock %}
