{% extends 'base.html' %}
{% load tz %}

{% block content %}

<h2>Run History</h2>

{% if history_list %}
<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Request</th>
      <th>Log</th>
    </tr>
  </thead>
  <tbody>
    {% for history in history_list %}
    <tr>
      {% timezone "US/Eastern" %}
      <td>{{ history.created }}</td>
      {% endtimezone %}
      <td>{{ history.request }}</td>
      <td>{{ history.log }}</td>
    </tr>
    {% endfor %}
  </tbody>
 </table>
 {% else %}
 <p>No history found</p>
 {% endif %}

{% endblock %}
